html, body{
	margin: 0;
	padding: 0;
}
body{
	width: 100%;
	height: 100%;
	font-family: sans-serif;
	letter-spacing: 0.03em;
	line-height: 1.6; 
	background: rgb(63,94,251);
	background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,128,70,1) 100%);
}
.title{
	text-align: center;
	font-size: 40px;
	color: #6a6a6a;
	margin-top: 100px;
	font-weight: 100;
}

.container{
	width: 100%;
	max-width: 1200px;
	height: 850px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin:auto;
}
.container .card{
	width: 350px;
	height: 800px;
	border-radius: 8px ;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	margin: 20px;
	text-align: center;
	transition: all 0.25s;
}
.container .card:hover{
	transform: translateY(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
	width: 300px;
	height: 300px;
}
.container .card h4{
	font-weight: 600;
}
.container .card p{
	padding: 0 1rem;
	font-size: 16px;
	font-weight: 300;
}

.container .card a{
	font-weight: 500;
	text-decoration: none;
	color: #3498db;
}

.container .card1{
	width: 350px;
	height: 970px;
	border-radius: 8px ;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	margin: 20px;
	text-align: center;
	transition: all 0.25s;
}
.container .card1:hover{
	transform: translateY(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card1 img{
	width: 300px;
	height: 300px;
}
.container .card1 h4{
	font-weight: 600;
}
.container .card1 p{
	padding: 0 1rem;
	font-size: 16px;
	font-weight: 300;
}

.container .card1 a{
	font-weight: 500;
	text-decoration: none;
	color: #3498db;
}


.container .card2{
	width: 1000px;
	height: 600px;
	border-radius: 8px ;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	margin: 20px;
	text-align: center;
	transition: all 0.25s;
}
.container .card2:hover{
	transform: translateY(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card2 img{
	width: 1000px;
	height: 500px;
}
.container .card2 h4{
	font-weight: 600;
}
.container .card2 p{
	padding: 0 1rem;
	font-size: 16px;
	font-weight: 300;
}

.container .card2 a{
	font-weight: 500;
	text-decoration: none;
	color: #3498db;
}



.container .card3{
	width: 350px;
	height: 650px;
	border-radius: 8px ;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	margin: 20px;
	text-align: center;
	transition: all 0.25s;
}
.container .card3:hover{
	transform: translateY(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card3 img{
	width: 300px;
	height: 300px;
}
.container .card3 h4{
	font-weight: 600;
}
.container .card3 p{
	padding: 0 1rem;
	font-size: 16px;
	font-weight: 300;
}

.container .card3 a{
	font-weight: 500;
	text-decoration: none;
	color: #3498db;
}



.container .card4{
	width: 350px;
	height: 450px;
	border-radius: 8px ;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	margin: 20px;
	text-align: center;
	transition: all 0.25s;
}
.container .card4:hover{
	transform: translateY(-15px);
	box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card4 video{
	width: 400px;
	height: 400px;
}
